.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  text-align: center;
}

.connect_wallet.MuiButton-root , .account_address {
  margin-bottom: 12px;
}

.mint_form, .burn_form, .transfer_form {
  margin-bottom: 16px;
}

.my_balance {
  margin: 12px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.address_label {
  margin-right: 12px;
}

input {
  margin-left: 4px;
}

.drip_button.MuiButton-root {
  margin-bottom: 32px;
  width: 100px;
}

.drip_button:hover {
  background-color: #429C46 !important;
}

.transaction_table {
  width: 95% !important;
  margin: 40px 0;
}

.connect_wallet_icon {
  margin-left: 4px;
}

.MuiInputAdornment-positionStart p {
  font-size: smaller;
}

.submit_button.MuiButton-root {
  margin-left: 8px;
  margin-top: 3px;
}

.transfer_address_input {
  width: 420px;
}

.transfer_amount_input.MuiFormControl-root {
  margin-left: 8px;
}

.print_dialog .MuiDialog-paper {
  background-color: transparent;
  padding: 20px;
}
