.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  text-align: center;
}

.connect_wallet.MuiButton-root , .account_address {
  margin-bottom: 12px;
}

.mint_form, .burn_form, .transfer_form {
  margin-bottom: 16px;
}

.address_label {
  margin-right: 12px;
}

input {
  margin-left: 4px;
}

.drip_button.MuiButton-root {
  margin-bottom: 32px;
  width: 100px;
}

.drip_button:hover {
  background-color: #429C46 !important;
}

.connect_wallet_icon {
  margin-left: 4px;
}

.MuiInputAdornment-positionStart p {
  font-size: smaller;
}

.submit_button.MuiButton-root {
  margin-left: 8px;
}

.transfer_address_input {
  width: 420px;
}

.transfer_amount_input.MuiFormControl-root {
  margin-left: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.add_token.MuiAvatar-root {
  cursor: pointer;
  border: 1px solid gray;
  display: block;
  position: absolute;
  top: 20px;
  right: 16px;
}
